﻿@model CategoryModel

@{
	ViewData["Title"] = "Add";
}

<form method="post">
	<div class="border p-3 mt-4 justify-content-center" style="width:500px">
		<div class="row pb-2 my-auto">
			<h2 class="text-primary">Add Category</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" required />
		</div>
		<div class="mb-3">
			<label asp-for="Age"></label>
			<input asp-for="Age" class="form-control" required />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Add</button>
		<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
	</div>
</form>