﻿@model IEnumerable<CategoryModel>
@{
	ViewData["Title"] = "List";
}

<div class="container p-3 pb-4">
	<div class="row pt-4">
		<div class="col-6">
			<h1 class="text-primary">Category List</h1>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> &nbsp; Add new category
			</a>
		</div>
	</div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Date</th>
		</tr>
	</thead>

	<tbody>
		@foreach (CategoryModel obj in Model)
		{
			<tr>
				<td witdh="30%">
					@obj.Name
				</td>

				<td width="30%">
					@obj.Age
				</td>

				<td width="30%">
					@obj.CreatedDateTime
				</td>
			</tr>
		}
	</tbody>
</table>
